#app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.ide {
  height: 100%;
}

.ace_editor, code {
  font-family: "Fira Code", "Inconsolata", "Anonymous Pro", "DejaVu Sans Mono", "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
}

pre {
  margin: 0;
  border: none;
  background: none;
}
